[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
pytz = "*"
flake8 = "*"
django-heroku = "*"
gunicorn = "*"
boto3 = "*"
django-storages = "*"
psycopg2 = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
