<!--

=========================================================
* Now UI Dashboard - v1.5.0
=========================================================

* Product Page: https://www.creative-tim.com/product/now-ui-dashboard
* Copyright 2019 Creative Tim (http://www.creative-tim.com)

* Designed by www.invisionapp.com Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->
{% extends 'uni/dash_base.html' %}
{% block title %}{{ assignment.course.course.code }} Assignment{% endblock title %}
{% block content %}
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h3>{{ assignment.course.course.code }} Assignment</h3>
        </div>
        <div class="card-body ">

          {{ assignment.questions | safe}}

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
