{% extends 'uni/form_base.html' %}
{% block title %}Sign up to The Symposium{% endblock title %}


{% block form_fields %}

<span class="text-white"><marquee behavior="rtl">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</marquee></span>
<div class="input-group no-border input-lg">
  <div class="input-group-prepend">
    <span class="input-group-text">
      <i class="now-ui-icons users_circle-08"></i>
    </span>
  </div>
  <input type="email" class="form-control" placeholder="Email/Matric No/Reg No...">
</div>


<div class="input-group no-border input-lg">
  <div class="input-group-prepend">
    <span class="input-group-text">
      <i class="now-ui-icons users_circle-08"></i>
    </span>
  </div>
  <input type="text" class="form-control" placeholder="Password...">
</div>

{% endblock form_fields %}

{% block submit_button_text %}Login{% endblock submit_button_text %}
