{% extends 'uni/form_base.html' %}
{% block title %}Login to The Symposium{% endblock title %}

{% block form_method %}POST{% endblock form_method %}
{% block form_action %}{% url 'uni:login' %}{% endblock form_action %}
{% block form_fields %}

<span class="text-white"><marquee behavior="rtl">Please login with your email or username if you haven't updated your profile with a matric no or reg no.</marquee></span>
<div class="input-group no-border input-lg">
  <div class="input-group-prepend">
    <span class="input-group-text">
      <i class="now-ui-icons users_circle-08"></i>
    </span>
  </div>
  <input type="text" class="form-control" placeholder="Email/Username/Matric No/Reg No..." name="multi_field" value="{% if form.multi_field.value is not None %}{{ form.multi_field.value }}{% endif %}">
</div>


<div class="input-group no-border input-lg">
  <div class="input-group-prepend">
    <span class="input-group-text">
      <i class="now-ui-icons users_circle-08"></i>
    </span>
  </div>
  <input type="password" class="form-control" placeholder="Password..." name="password">
</div>

{% endblock form_fields %}

{% block submit_button_text %}Login{% endblock submit_button_text %}
