{% extends 'uni/form_base.html' %}
{% block title %}Reset Password{% endblock title %}

{% block form_method %}post{% endblock form_method %}
{% block form_action %}{% url 'uni:reset' link=link %}{% endblock form_action %}
{% block form_fields %}
<div class="input-group no-border input-lg">
  <div class="input-group-prepend">
    <span class="input-group-text">
      <i class="now-ui-icons users_circle-08"></i>
    </span>
  </div>
  <input type="password" class="form-control" placeholder="New Password..." name="new_password" value="{% if form.password.value is not None %}{{ form.password.value }}{% endif %}">
</div>

<div class="input-group no-border input-lg">
  <div class="input-group-prepend">
    <span class="input-group-text">
      <i class="now-ui-icons users_circle-08"></i>
    </span>
  </div>
  <input type="password" class="form-control" placeholder="Confirm Password..." name="confirm_password" value="{% if form.confirm_password.value is not None %}{{ form.confirm_password.value }}{% endif %}">
</div>

{% endblock form_fields %}

{% block submit_button_text %}Reset Password{% endblock submit_button_text %}
